@model NexusCommunicationSystem.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header id="coin-h">
        <a class="coin-lg" href="~/"><h2 class="tit-h">Nexus</h2></a>
    </header>
    <div id="coin-m">
        <div class="cm-f">
            <form action="@Url.Action("Login", "Accounts")" method="post">
                <div class="cm-f-u">
                    <p>
                        Email
                        <input name="email" id="email" value="" />
                    </p>
                    <p>
                        UserPassword
                        <input name="userPassword" id="userPassword" value="" type="password"/>
                    </p>
                    <div>
                        <input class="c-sub" type="submit" value="Submit" />
                    </div>
                    </div>
            </form>
        </div>
    </div>
    <div id="coin-f">
        <div class="cf-t">© 2017 - 2020 Nexus.com. All rights reserved</div>
    </div>
</body>
</html>
